Repository azuredevcollege/trainingdays, pull requests merged in 2021-06, with the labels that each got.

#253 Fix Frontend patch and use packages.lock.json
  .github/workflows/day5-scm-frontend.yml
  day5/apps/dotnetcore/Scm.Resources/Adc.Scm.Resources.Api/Adc.Scm.Resources.Api.csproj
  day5/apps/dotnetcore/Scm.Resources/Adc.Scm.Resources.Api/packages.lock.json
  day5/apps/dotnetcore/Scm.Resources/Adc.Scm.Resources.ImageResizer/Adc.Scm.Resources.ImageResizer.csproj
  day5/apps/dotnetcore/Scm.Resources/Adc.Scm.Resources.ImageResizer/packages.lock.json
  day5/apps/dotnetcore/Scm.Search/Adc.Scm.Search.Api/Adc.Scm.Search.Api.csproj
  day5/apps/dotnetcore/Scm.Search/Adc.Scm.Search.Api/packages.lock.json
  day5/apps/dotnetcore/Scm.Search/Adc.Scm.Search.Indexer/Adc.Scm.Search.Indexer.csproj
  day5/apps/dotnetcore/Scm.Search/Adc.Scm.Search.Indexer/packages.lock.json
  day5/apps/dotnetcore/Scm/Adc.Scm.Api/Adc.Scm.Api.csproj
  day5/apps/dotnetcore/Scm/Adc.Scm.Api/packages.lock.json
Labels: day5

#255 introduction to day4
  day4/README.md
  day4/challenges/images/github-logo.png
  day4/challenges/images/github-repository.png
  day4/images/application-insights.png
  day4/images/architecture_day4.png
  day4/images/azure-bicep.jpg
  day4/images/github-actions.png
  day4/images/github-logo.png
  day4/images/github-repository.png
Labels: day4

#129 minor typo and naming fixes in day6
  day6/challenges/challenge1.md
  day6/challenges/challenge2.md
  day6/challenges/challenge3.md
  day6/challenges/challenge4.md
  day6/challenges/challenge5.md
Labels: day6

#258 Challenge 00 Day4 GitHub
  day4/README.md
  day4/challenges/00-challenge-org.md
  day4/challenges/01-challenge-boards.md
  day4/challenges/challenge-0.md
  day4/challenges/images/gh-add-repo-to-team.png
  day4/challenges/images/gh-clone-repo-https.png
  day4/challenges/images/gh-clone-repo-ssh.png
  day4/challenges/images/gh-invite-member.png
  day4/challenges/images/gh-invite-role-org.png
  day4/challenges/images/gh-member-privileges-org.png
  day4/challenges/images/gh-members-priv-base.png
  day4/challenges/images/gh-new-org-form.png
  day4/challenges/images/gh-new-repo.png
  day4/challenges/images/gh-new-team.png
  day4/challenges/images/gh-repo-base-role.png
  day4/challenges/images/gh-repo-manage-access.png
  day4/challenges/images/gh-team-reop-access-level.png
  day4/challenges/images/gh-your-orgs.png
  day4/images/azure-bicep.jpg
  day4/images/azure-bicep.png
Labels: day4
